{{define "layout"}}<!doctype html>
<html lang="en" data-theme="{{.Theme}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/themes.css">
  <link rel="stylesheet" href="/static/css/views.css">
  <link rel="stylesheet" href="/static/css/settings.css">
  {{if .CustomCss}}<style>{{css .CustomCss}}</style>{{end}}
</head>
<body>
  <main class="container" style="--maxw:{{.AppMaxWidth}}px">
  {{template "content" .}}
  </main>
  <script src="/static/vendor/alpine.min.js" defer></script>
  <script src="/static/js/app.js"></script>
</body>
</html>{{end}}
